body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #1E5631;
  color: white;
  padding: 40px;
  text-align: center;
}

section {
  padding: 30px;
  margin: 10px auto;
  max-width: 800px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

section > p {
    letter-spacing: 1px;
    line-height: 1.8;
}

#projects {
  padding: 40px;
  background-color: #f8f8f8;
}

.project {
  border: 1px solid #ddd;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 12px;
  background-color: white;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.project img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}

.project h3 {
  margin-top: 15px;
  color: #333;
}

.project a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 20px;
  border-radius: 6px;
}

h2 {
  color: #4CAF50;
}

footer {
  text-align: center;
  padding: 20px;
  background: #ddd;
  margin-top: 30px;
}

#theme-toggle {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 10px;
  border: none;
  border-radius: 10px;
  color: #333;
  background-color: #eee;
  cursor: pointer;
  z-index: 1000;

}

body.dark-mode header {
  background-color: #2C2C2C;
  color: #ffffff;
}

body.dark-mode {
  background-color: #121212;
  color: #000000;
}

body.dark-mode #about {
  background-color: rgba(155, 48, 255, 0.25);
  color: #E0E0E0;
  padding: 2.5rem;
}

body.dark-mode #contact {
  background-color:rgba(155, 48, 255, 0.25);
  color: #E0E0E0;
  padding: 2.5rem;
}

body.dark-mode #about h2 {
  color: #A8FF60;
}

body.dark-mode #contact h2 {
  color: #A8FF60;
}

body.dark-mode #projects h2 {
  color: #3AAFA9;
}

body.dark-mode a {
  color: #ffffff;
}

body.dark-mode #theme-toggle {
  background-color: #333;
  color: #f17fe2;
}


@media screen and (max-width: 768px) {
  body {
    padding: 10px;
  }

  header {
    padding: 20px;
  }

  section {
    padding: 20px;
    margin: 10px 5px;
  }

  h1 {
    font-size: 1.8rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1rem;
  }
}
